# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# Django
db.sqlite3
/staticfiles/
/media/

# Serverless
.serverless/
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
